@loginBackground: #8BB6EC;

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#view {
	height: 100%;
	background-color: @loginBackground;
}

login {
	height: 100%;
	display: block;
	background-color: @loginBackground;
}

#login-screen {
	text-align: center;
	font-family: 'Raleway', sans-serif;

	position: relative;
	top: 35%;
	
	

	span {
		bottom: 7px;
		font-size: 20px;
		position: relative;
	}
}

#main-title {
	font-size: 42px;
	position: relative;
	bottom: 30px;
}

#username-input {
	height: 32px;
	width: 50%;
	border-radius: 4px;
	text-align: center;
	font-size: 26px;
}

#login-button {
	color: white;
	border: none;
	background-color: #082D70;
	position: relative;
	top: 10px;
	height: 30px;
	width: 150px;
	line-height: 30px;
	margin: 0 auto;
	cursor: pointer;
}

/* Main Messaging Screen */

#users-list {
	background-color: pink;
	float: left;
	height: 100%;
	width: 25%;
}

#messaging-area {
	height: 100%;
}

#received-messages {
	background-color: green;
	height: 80%;
	overflow: auto;
}
