<div class="container">
	<div id="users-list">
		<h1>Active Users</h1>
		<div class="active-user" ng-repeat="user in $ctrl.activeUsers">
			{{user}}
		</div>
	</div>

	<div id="messaging-area">
		<div id="received-messages">
			<div ng-repeat="msg in $ctrl.messageStorage" id="message-container">
				<div ng-if="msg.userAnnouncement!=undefined">
					<span class="user-announcement" ng-bind="msg.userAnnouncement" ng-if="msg.userAnnouncement"></span><br/><br/>
				</div>
				<div ng-if="msg.user!=undefined">
					<span class="sent-by" ng-bind="msg.user"></span><span class="timestamp" ng-bind="msg.timestamp"></span><br/>
					<span class="message-body" ng-bind-html="msg.body"></span><br/><br/>
				</div>
			</div>
		</div>
		<div id="message-entry">
			<form id="message-form">
				<div id="alerts-and-receipts">
					<span id="typing-alert" ng-bind="$ctrl.typingString"></span>
					<span id="seen-by-alert" ng-bind="$ctrl.seenByAlert"></span><br/>
				</div>
				<textarea ng-model="$ctrl.msg" placeholder="Write a message..." id="message-textarea" rows="2"></textarea>
				<img src="assets/img/paper-plane.png" id="send-btn" ng-click="$ctrl.sendMessage($ctrl.msg)" />
			</form>
		</div>
	</div>
</div>