<div id="users-list">
	<h1>Active Users</h1>
	<div class="active-user" ng-repeat="user in $ctrl.activeUsers">
		{{user}}
	</div>
</div>

<div id="messaging-area">
	<div id="received-messages">
		This is where reveived messages are displayed.<br/><br/>
		<div ng-repeat="msg in $ctrl.messageStorage">
			{{msg.user}} - {{msg.timestamp}}<br/>
			{{msg.body}}<br/><br/><br/>
		</div>
	</div>
	<div id="message-entry">
		This is where you enter your messages.

		<form>
			<input type="text" ng-model="msg" placeholder="Write a message...">
			<button ng-click="$ctrl.sendMessage(msg)">Send message</button>
		</form>
	</div>
</div>